.home {
    width: 500px;
    border: solid 1px;
    margin: 0 auto;
    position: relative;
}

.floor {
    border: solid 1px;
    overflow: hidden;
    background: url('img/floor.jpg') repeat;
    opacity: 0.85;
}

.left_side {
    /*border: solid 1px;*/
    width: 44%;
}
.center {
    /*border: solid 1px;*/
    width: 10%;
}
.right_side {
    /*border: solid 1px;*/
    width: 44%;
}

.section {
    float: left;
}

.monitor {
    height: 30px;
    width: 30px;
    border: solid black 1px;
    padding-top: 10px;
    margin: 20px 20px;
    text-align: center;
    color: red;
    font: 18px "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    background: lightskyblue;
}

.left_side .monitor {
    float:left;
    }

.right_side .monitor {
    float:right;
}

.touch {

    float: right;
    margin: 75px 5px;

    text-decoration:none; text-align:center;
    padding:15px 15px;
    border:none;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 50px;
    font:50px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#6b0000;
    background-color:#d6d6d6;
    background-image: -moz-linear-gradient(top, #d6d6d6 0%, #6b6b6b 100%);
    background-image: -webkit-linear-gradient(top, #d6d6d6 0%, #6b6b6b 100%);
    background-image: -o-linear-gradient(top, #d6d6d6 0%, #6b6b6b 100%);
    background-image: -ms-linear-gradient(top, #d6d6d6 0% ,#6b6b6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#6b6b6b',GradientType=0 );
    background-image: linear-gradient(top, #d6d6d6 0% ,#6b6b6b 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;

    -webkit-transition: color 0s linear;
    -moz-transition:  color 0s linear;
    -o-transition:  color 0s linear;
    transition:  color 0s linear;
}

.active{

    color:#E5FFFF;
    background-color:#ff0000;
    background-image: -moz-linear-gradient(top, #ff0000 0%, #a0a519 100%);
    background-image: -webkit-linear-gradient(top, #ff0000 0%, #a0a519 100%);
    background-image: -o-linear-gradient(top, #ff0000 0%, #a0a519 100%);
    background-image: -ms-linear-gradient(top, #ff0000 0% ,#a0a519 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a519', endColorstr='#a0a519',GradientType=0 );
    background-image: linear-gradient(top, #ff0000 0% ,#a0a519 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.doors {
    width: 100px;
    height: 150px;
    margin-top: 20px;
    border: solid 1px;
}

.left_side .doors {
    float: right;
    margin-right: 20px;
}

.right_side .doors {
    float: left;
    margin-left: 20px;
}

.door {
    height: 150px;
    width: 46px;
    border: solid black 1px;
    overflow: hidden;
    position: relative;

}

.left {
    background-image: url('img/door.jpg');
    background-repeat: repeat;
    float: left;
    border-right: solid #eeeeee 3px;
}

.right {
    background-image: url('img/door.jpg');
    background-repeat: repeat;
    float: right;
    border-left: solid #eeeeee 3px;
}

.elevator_right,.elevator_left {
    height: 150px;
    width: 98px;
    position: absolute;
    top: 21px;
    border: solid 2px;
    background-color: red;
    opacity: 1.5;
    z-index: -1;
}

.elevator_left {
    left: 98px;
}

.elevator_right {
    left: 290px;
}
